.header_container{
    display: flex;
    justify-content: space-between;

}

.container{
    display: flex;
    justify-content: space-between;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.right{
    margin-right: 20vw;
}
.left{
    margin-left: 20vw;

}

.textimage{
    color: darkgrey;
}
article{
    font-size: larger;
    letter-spacing:normal;
    font-family: "Benne";
    line-height: 1.6;
}
.login{
    text-decoration: none; color:white;background-color: rgb(51, 4, 88);
    padding: 5px;
    

}
.inflation{
    display: flex;
    }

.inf_right{margin-right: 15vw;

}
.inf_left{margin-right: 15vw;

}
.inf_center{
    font-size: larger
}

.copy{
    margin-left: 100px;
    margin-right: 10px;
}
.rest{
    margin-right: 9px;
    text-decoration: none; color: rgb(129, 137, 138);
}
.icons{
    margin-bottom: 20px;
}
.ispace{
    margin-left: 10px;
}
.svg_slider{
    margin-left: 10px; margin-right: 10px; 
}
.svg_search{
    margin-left: 0px; margin-right: 20px; 
}
h1{
    font-family: "Lobster";
}
.space{
    text-decoration: none; color: black; position: fixed;
}
.Newyork{
    text-decoration: none; color: black; font-family: 'Cookie'; 
}